.container {
    margin: 0 auto;
    max-width: 960px;
}

.container-principal {
    background: #CCCCCC;
}

#banner {
    width: 100%;
    height: 300px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.container-beneficios {
    background-color: white;
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.list-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.list-beneficios li {
    font-style: italic;
}


.img-beneficios {
    width: 50%;
}