* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 22%;
    margin: 8px auto 0 auto;    
    background-color: #fff;
    font-size: 24px;
    font-family: monospace;
    padding: 8px;
    box-shadow: 0px 0px 10px gray;
}

.thaco-form .field-wrapper {        
    margin: 0 auto 4px auto;
    display: flex;
    align-items: center;
    
}

.field-wrapper label {
    width: 50%;
}

.ac-check {    
    margin: 0 auto;
}

.field-wrapper input[type=text], .field-wrapper input[type=number], .field-wrapper select {
    outline: none;
    padding: 4px 8px;    
    font-size: 24px;
    font-family: monospace;
    width: 50%;
}

.thaco-form input[type=submit]:focus,
.field-wrapper select:focus, 
.field-wrapper input[type=number]:focus {
    background-color: aliceblue;
}

.thaco-form input[type=submit] {
    width: 100%;
    padding: 4px 8px;    
    font-size: 24px;    
    font-family: monospace;
}

.output {    
    text-align: center;
    margin: 8px 0 0 0;
}

.output label, .output output {
    display: block;
}

.output output {    
    font-weight: bold;
    font-size: 28px;
}