header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: cadetblue;    
    text-decoration: underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(128, 128, 13)
}
.produtos li:hover h2 {
    font-size: 35px;
}

.produtos li:active {
    border-color: rgb(68, 102, 68)
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 18x;    
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;
}

.copyright {
    font-size: 13px;
    color: white;
}