.container {
    margin: 0 auto;
    max-width: 940px;
}

header {
    position: relative;
}

.header-menu {
    position: absolute;
    vertical-align: top;
    top: 0px;
    right: 0;
}

.header-menu li {
    display: inline;
    margin: 0 0 0 15px;
}

.header-menu a {    
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

.header-menu a:hover {    
    color: cadetblue;
    text-decoration: underline;
}

.container-principal {
    background: #CCCCCC;
}

#banner {
    width: 100%;
    height: 300px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.container-beneficios {
    background-color: white;
    padding: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

.list-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.list-beneficios li {
    font-style: italic;
}


.img-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;
}

.copyright {
    font-size: 13px;
    color: white;
}