main {
    padding-top: 200px;
    margin: 0 auto;
    width: 980px;
}

form {
    width: 100%;    
    padding: 8px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

input {
    outline: none;
}

.input-wraper {
    margin-top: 8px;
    width: 30%;
    margin: 1%;
}

.basic-input {
    width: 100%;
    /* font-size: 25px; */
    padding: 16px;
    border-radius: 15px;
    margin: 8px 0;
}

label {
    font-size: 24px;
    margin-right: 3px;
    /* flex-grow: 1; */
}

.under-input {
    font-size: 24px;
    padding: 8px 8px 4px 0px;
    border: none;
    border-bottom: 2px solid;
    margin: 0px 0 0 0px;
    color: blue;
    border-color: black;
    flex-grow: 2;
    background: transparent;
}

.personal-data:focus {
    border-radius: 15px;
    outline: none;
    background-color: yellow;
}

@media(max-width: 768px) {
    main {
        width: initial;
        padding: initial;
    }
    
    .input-wraper {
        width: 100%;
        display: block;
        /* flex-direction: column; */
        margin-top: 1px;
    }

    
    form {
        width: 95%;
        flex-direction: column;
        margin: 0 auto;
    }
}
