* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    margin: 0 30%;
    background-color: tan;
}

.full-input {
    width: 100%;
    padding: .5rem .6rem;
    font-size: 16px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

.taskList {
    background-color: wheat;
    width: 100%;
    border: 1 solid;
}