.container {
    width: 1024px;
    margin: 0 auto;
}

header .container {
    background-color: #DCEDFD;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    margin-top: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.mainNav {
    width: 300px;
    /* padding: 0 8px; */
}

.mainNav ul {
    display: flex;
    justify-content: space-around;    
}

.mainNav-item {
    flex-grow: 0;
    position: relative;
}

.mainNav-item a {
    text-decoration: none;
    color: #4C4C7A;    
    font-size: 18px;
    /* font-weight: bold; */
    position: absolute;
}

.mainNav-item a:hover {    
    font-size: 20px;
    color: #B09587;    
}


/* ABS Menu */
.abs-container {
    width: 1024px;
    height: 8vh;
    margin: 5px auto 0 auto;
    background-color: darkslategray;
    text-align: right;
    /* position: relative; */
    
}

.abs-mainNav{
    /* box-sizing: border-box; */
    /* padding: 0 8px 0 0; */
    /* position: absolute; */  
    width: 40%;
    display: inline-block;
}

.abs-mainNav-item {
    display: inline;
    /* padding-left: 8px; */
    position: relative;
}

.abs-mainNav-item a {
    text-decoration: none;
    color: yellowgreen;
    font-size: 18px;
    /* padding: 0 4px; */
    position: absolute;
}

.abs-mainNav-item a:hover {
    /* font-size: 20px; */
    transform: scale(1.5);
}