body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    display: inline;
    text-transform: uppercase;
    color: black;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: cadetblue;    
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: rgb(128, 128, 13)
}
.produtos li:hover h2 {
    font-size: 35px;
}

.produtos li:active {
    border-color: rgb(68, 102, 68)
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.produto-descricao {
    font-size: 18x;    
}

footer {
    text-align: center;
    background: url("bg.jpg");
    padding: 40px;
}

.copyright {
    font-size: 13px;
    color: white;
}

/* main {
    width: 940px;
    margin: 0 auto;
} */

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.check-contato {
    margin: 20px 0;
}

.btn-enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.btn-enviar:hover {
    background: darkorange;
    transform: scale(1.2);
    transform: rotate(70deg);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: brown;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 10px 15px;
}

/* ###### css da página inicial ###### */
.banner {
    width: 100%;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.container-principal{
    background-color: #fefefe;
    padding: 3em 0;
    width: 940px;
    margin: 0 auto;
}

.container-principal p {
    margin: 0 0 1em;
    
}

.container-principal strong {
    font-weight: bold;
}

.container-principal em {
    font-style: italic;
}


.mapa-content{ 
    width: 940px;
    margin: 0 auto;
}

.mapa { 
    padding: 3em 0;
    background: linear-gradient(#fefefe, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.container-beneficios { 
    padding: 3em 0;
    background-color: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.list-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.list-beneficios li {
    line-height: 1.5em;
}

.list-beneficios li::before {
    content: '★ ';
}

.list-beneficios li:first-child {
    font-weight: bold;
}

.img-beneficios {
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #ccffcc;
}

.img-beneficios:hover {    
    opacity: 0.5;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;    
    clear: left;
}


.video {
    width: 560px;
    margin: 2em auto;
}

@media screen and (max-width: 480px) {
    .caixa, .container-principal, .conteudo-beneficios, .mapa-content, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
        text-align: center;
    }

    nav a {
        font-size: 18px;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }


}