@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif&family=Space+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 10px 30%;    
    background-color: lightsteelblue;
    font-family: 'Space Mono', monospace;
    overflow: auto;
}

.box {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    background-color: #f4ecd8;
}

.attributes {    
    color: #5b4636;
    width: 20%;
    margin: 10px auto 10px auto;
}

.attr-wraper {
    padding: 6px 8px;    
}

.attr-wraper label {
    font-size: 18px;
    padding-right: 3px;
    text-align: center;
    display: inline-block;
    width: 50%;
}

.attr-wraper input {
    font-size: 18px;
    outline: none;
    border-radius: 5px;    
    width: 50%;
    padding: 4px 8px;
}

.bonus {
    margin: 10px auto 10px auto;
    font-size: 16px;
    width: 335px;
    
}

.bonus .wraper {
    /* width: 100%; */
    display: flex;    
    padding: 6px 8px;     
    justify-content: flex-end;
    
}

.bonus .wraper label {    
    padding-right: 3px;    
}

.bonus .wraper input {    
    outline: none;    
    border-radius: 5px;    
    padding: 4px 8px;    
    width: 16%;
    text-align: center;
    
}

.blue {
    background-color: lightblue;
    height: 20px;
    flex-grow: 6;
}

.red {
    background-color: lightpink;
    height: 20px;    
    flex-grow: 1;
}


